/* Variables */
:root {
  --rotate-from: 0deg;
  --rotate-to: -360deg;
  --play-state: running;
}

/* Elements */

body {
  background-color: black;
  color: white;
}

img {
  width: 100%;
  height: 100%;
}

/* IDs */

#container {
  width: 100%;
  height: 700px;
  perspective: 800;
  perspective-origin: 50% 225px;
}

#rectangle {
  position: relative;
  top: 160px;
  margin: 0 auto;
  height: 300px;
  width: 400px;
  transition: transform 2s;
  transform-style: preserve-3d;
  animation: spin 8s infinite linear;
  animation-play-state: var(--play-state);
}

/* Classes */

.clickable-img {
  cursor: pointer;
}

.wheel > div:nth-child(1) {
  transform: translateZ(380px);
}
.wheel > div:nth-child(2) {
  transform: rotateY(60deg) translateZ(380px);
}
.wheel > div:nth-child(3) {
  transform: rotateY(120deg) translateZ(380px);
}
.wheel > div:nth-child(4) {
  transform: rotateY(180deg) translateZ(380px);
}
.wheel > div:nth-child(5) {
  transform: rotateY(240deg) translateZ(380px);
}
.wheel > div:nth-child(6) {
  transform: rotateY(300deg) translateZ(380px);
}

.wheel > .card {
  position: absolute;
  height: 300px;
  width: 400px;
  border: 1px solid white;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.9);
}

.modal-content {
  margin: auto;
  display: block;
  width: 50%;
  height: 50%;
  border-radius: 5px;
  transition: 0.3s;
}

.modal-content {
  animation-name: zoom;
  animation-duration: 0.6s;
}

.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.close:hover,
.close:focus {
  color: red;
  text-decoration: none;
  cursor: pointer;
}

/* Keyframes */
@keyframes spin {
  from {
    transform: rotateY(var(--rotate-from));
  }
  to {
    transform: rotateY(var(--rotate-to));
  }
}

@keyframes zoom {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}
